//---------------global variables-------------------------------
:root {
  --font-primary: "Source Sans Pro", sans-serif;
  --line-height: 1.5;
  --font-size-base: 1rem;
  --font-size-h1: 40px;
  --font-size-h2: 1.25rem;

  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
  --color-link: rgba(255, 255, 255, 0.87);
  --color-link-hover: rgb(85, 85, 218);
  --color-darkmode-background: antiquewhite;
  --color-darkmode-text: #242424;
}

//----------------global styles-----------------------------------
body {
  font-family: var(--font-primary);
  line-height: var(--line-height);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

h1 {
  font-size: var(--font-size-h1);
  text-align: center;
}

h2 {
  font-size: var(--font-size-h2);
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover,
  &:active {
    color: var(--color-link-hover);
  }
}
