.podlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.podlist_item {
  margin-bottom: 1rem;
  max-width: 300px;

  .podlist_image {
    width: 100%;
    height: auto;
  }
}

p {
  font-size: var(--font-size-base);
  margin: 0;
}
